h1 {
  font-size: 12;
}

p {
  font-size: 1.2em;
}

body {
  margin: 0 20px;
  padding: 10px;
  background-color: #32835a;
  font-family: sans-serif;
}

.fw-embed-feed {
 padding: 0;
}

.row {
  display: flex;
}

.fw-storyblock {
  width: 360px;
  height: 600px;
}

.amazon-600-520 {
  width: 400px;
  height: 600px;
}

.amazon-728-90 {
  height: 100px;
}

.about-us {
  float: right;
}
