h1 {
  font-size: 12;
}

p {
  font-size: 1.2em;
}

body {
  margin: 0 20px;
  padding: 0;
  background-color: #32835a;
  font-family: sans-serif;
}

body.fw-embed-feed-channel {
 padding: 0;
}

body.fw-storyblock-channel {
  width: 240px;
  height: 400px;
}
